<th:block th:fragment="def (addressList)"> <!-- 파라미터 이름을 좀 더 명확하게 addressList로 변경 (선택 사항) -->
    <div id="payPop" style="display: none">
        <div id="pop_box">
            <div class="pop_content">
                <div id="payPop_header">
                    <h2>배송지 선택</h2>
                    <div id="closePay">
                        <img src="../img/close_icon.png" th:src="@{/img/close_icon.png}" alt="close_img" onclick="closePay()">
                    </div>
                </div>
                <div id="payPop_section">
                    <!-- 카드 -->
                    <!-- 전달받은 addressList (이전 item)를 반복 -->
                    <div th:each = "addrInfo : ${addressList}">
                        <div class="address-box">
                            <div class="address-info">
                                <!-- addrInfo 객체의 속성 사용 -->
                                <span>[[${addrInfo.entity.addressAlias}]]</span>
                                <span class="default">[[${addrInfo.entity.isDefault}]]</span><br>
                                <span>[[${addrInfo.addr}]]</span><br>
                                <span>[[${addrInfo.detailAddress}]]</span><br>
                                <span>([[${addrInfo.postcode}]])</span><br>
                                <span>[[${addrInfo.entity.createdAt}]] <br>[[${addrInfo.phoneNum}]]</span>
                            </div>
                            <div class="button-group" style="position: relative;">
                                <form id="actionForm" action="" method="post">
                                    <input type="hidden" name="addressId" th:value="${addrInfo.entity.addressId}">
                                    <button type="button" class="btn btn-edit">수정</button>
                                    <button type="button" class="btn btn-select" >선택</button>
                                    <button type="button" class="btn btn-delete">삭제</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>