
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/sideBar.css">
    <script src="../js/sideBar.js"></script>
</head>
<body>
    <wrap>
        <div class="myPage">
            <span class="title2">마이 페이지</span>
            
            <ul class="side-list">
                <p class="sub_title">주문/판매물품 조회</p>
                <li>
                    <a href="#">주문내역</a>
                </li>
                <li>
                    <a href="#">판매물품</a>
                </li>
                <li>
                    <a href="#">찜목록</a>
                </li>
            </ul>

            <ul class="side-list">


                <p class="sub_title">회원정보</p>
                <li>
                    <a href="#">주소지관리</a>
                </li>
                <li>
                    <a href="#">회원정보수정</a>
                </li>
            </ul>

            <ul class="side-list">
                <p class="sub_title">리뷰내역</p>
                <li>
                    <a href="#">매너등급</a>
                </li>
            </ul>

            <ul class="side-list" >
                <p class="sub_title">문의</p>
                <li>
                    <a href="#">문의하기</a>
                </li>
                <li>
                    <a href="#">문의내역</a>
                </li>
            </ul>
        </div>
    </wrap>
</body>
</html>