<link rel="stylesheet" href="/css/qna/qna.css" th:href="@{/css/qna/qna.css}" />
<th:block th:replace="~{include/include :: def(~{::#wrap})}">
        <section class="section" id="wrap">
            <div class="support">
                <h2 class="page-title">1:1 문의</h2>

                <header class="top-bar">
                    <div class="left-section">
                      <span class="wating">답변대기</span>
                      <span class="greeting">안녕하세요</span>
                    </div>
                    <div class="right-section">
                      <span class="date">2025.04.16</span>
                      <button class="arrow">▶</button>
                    </div>
                </header>
                
                <main class="content">
                    <div class="page-number">1</div>
                </main>
                
                <button class="inquiry-btn">1:1문의하기</button>
            </div>
</section>
</body>
</th:block>